.myPlan h3 {
  background-color: orange;
  border: 8px solid black;
  z-index: 6;
  color: black;
  width: 80%;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.myPlan ul {
  text-align: center;
}
.myPlan li {
  color: white;
  background-color: black;
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid gray;
}
