.card {
  height: 300px;
  margin-bottom: 20px;
  border: 3px solid black;
  transition: transform 0.3s ease-in;
}
.card-text {
  font-weight: bold;
  font-style: italic;
}
.card-title {
  font-weight: bold;
}
.card:hover {
  cursor: pointer;
  background-color: orange;
  transform: scale(1.1);
  z-index: 5;
}
.card:not(:hover) {
  transform: scale(1); /* 在非 hover 狀態下將卡片恢復到原始大小 */
}
.row {
  justify-content: center;
}
@media (max-width: 770px) {
  .card-img-top {
    max-width: 50%; /* 圖片最大寬度為卡片的寬度 */
    max-height: 50%; /* 圖片最大高度為卡片的高度 */
  }
  .card {
    width: 100%;
  }
}
